@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --Orange: hsl(25, 97%, 53%);
    
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(212, 22%, 14%);
    --Dark-Blue-Variant: hsl(218, 17%, 19%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

body {
    background-color: var(--Very-Dark-Blue);
    font-family: 'Overpass', sans-serif;
}

main section {
    background-color: var(--Dark-Blue);
    height: 416px;
    max-width: 400px;
    border-radius: 30px;
}

footer {
    font-size: 14px;
    bottom: 20px;
}

footer a {
    text-decoration: none;
    color: var(--Orange);
}

footer a:focus {
    color: var(--Medium-Grey);
}

footer a:active {
    color: hsl(25, 78%, 44%);
}

/*====== START FIRST SECTION =======*/

.first-section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.container-star {
    width: 50px;
    height: 50px;
    background-color: var(--Dark-Blue-Variant);
}
.container-star img {
    width: 17px;
    height: 17px;
}
.container-title h1 {
    font-size: 27px;
    font-weight: 700;
    color: var(--White);
}
.container-description p {
    line-height: 26px;
    font-weight: 400;
    font-size: 15px;
    color: var(--Light-Grey);
}
.container-numbers span {
    color: var(--Medium-Grey);
    padding-top: 4px;
}
.number {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: var(--Dark-Blue-Variant);
}

/*Numbers States*/
.number.active {
    background-color: var(--Orange);
}
.number.number.active span {
    color: var(--White);
}

.number:not(.active):hover{
    background-color: var(--Medium-Grey);
}
.number:not(.active):hover span {
    color: var(--White);
}

.container-button button {
    background-color: var(--Orange);
}
.container-button button span {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: var(--White);
}

/*Button States*/
.container-button button:focus {
    background-color: var(--Orange);
}
.container-button:hover button {
    background-color: var(--White);
}
.container-button:hover button span {
    color: var(--Orange);
}

/*====== FINISH FIRST SECTION =======*/

/*====== START SECOND SECTION =======*/

.second-section {
    padding: 2.5rem 1.8rem;
}
.container-rate_text {
    background-color: var(--Dark-Blue-Variant);
}
.container-rate_text span {
    font-weight: 400;
    font-size: 15px;
    padding-top: .4rem;
    padding-bottom: .3rem;
    color: var(--Orange);
}
.container-rate_text span span {
    padding: 0;
}
.container-thanks_title h1 {
    color: var(--White);
    font-size: 28px;
    font-weight: 700;
}
.container-thanks_description p {
    color: var(--Light-Grey);
    font-weight: 400;
    font-size: 15px;
}

/*====== FINISH SECOND SECTION =======*/

@media (max-width: 375px) {

    main section {
        height: 370px;
        border-radius: 12px;
    }

    footer {
        font-size: 12px;
        bottom: 20px;
    }

    /*====== START FIRST SECTION =======*/

    .first-section {
        padding-top: 2rem;
        padding-bottom: 2.5rem;
    }
    .container-star {
        width: 42px;
        height: 42px;
    }
    .container-star img {
        width: 14px;
        height: 14px;
    }
    .container-title h1 {
        font-size: 24px;
    }
    .container-description p {
        line-height: 24px;
        font-size: 14px;
    }
    .container-numbers span {
        font-size: 13px;
    }
    .number {
        width: 42px;
        height: 42px;
    }

    .container-button button span {
        font-size: 14px;
    }

    /*====== FINISH FIRST SECTION =======*/

    /*====== START SECOND SECTION =======*/

    .second-section {
        padding: 2.5rem 1.6rem;
    }
    .container-rate_text span {
        font-size: 14px;
    }
    .container-thanks_title h1 {
        font-size: 24px;
    }
    .container-thanks_description p {
        font-size: 14px;
    }

    /*====== FINISH SECOND SECTION =======*/
}